{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    {% block link %}

    {% endblock link %}


    

    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
        <a href="/"><i class='bx bxs-box'></i></a>
      <span class="logo_name">Quick Vote</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="/dashboard" class="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/dashboard/vote">
            <i class='bx bx-box' ></i>
            <span class="links_name">Vote</span>
          </a>
        </li>
        <li>
          <a href="/dashboard/candidate">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name">Candidate Validation</span>
          </a>
        </li>

        <li>
          <a href="/dashboard/show_result">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name">Results</span>
          </a>
        </li>

        <li>
          <a href="/dashboard/users">
            <i class='bx bx-coin-stack' ></i>
            <span class="links_name">Users</span>
          </a>
        </li>


        <li class="log_out">
          <a href="/auth/logout">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search' ></i>
      </div>
      <div class="profile-details">
       
        <span class="admin_name">{{request.user.first_name}} {{request.user.last_name}}</span>
        <i class='bx bx-chevron-down' ></i>
      </div>
    </nav>


    {% block content %}
    
    
    {% endblock content %}








    <script>
        let sidebar = document.querySelector(".sidebar");
     let sidebarBtn = document.querySelector(".sidebarBtn");
     sidebarBtn.onclick = function() {
       sidebar.classList.toggle("active");
       if(sidebar.classList.contains("active")){
       sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
     }else
       sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
     }
      </script>
     
     </body>
     </html>